/02. CRYPTOGRAPHY, DECENTRALIZATION AND CONSENSUS PROTOCOLS/CalculateSHA256Hash/CalculateSHA256Hash/obj
/02. CRYPTOGRAPHY, DECENTRALIZATION AND CONSENSUS PROTOCOLS/CalculateSHA256Hash/CalculateSHA256Hash/*.csproj
/02. CRYPTOGRAPHY, DECENTRALIZATION AND CONSENSUS PROTOCOLS/CalculateSHA256Hash/CalculateSHA256Hash/*.config
/02. CRYPTOGRAPHY, DECENTRALIZATION AND CONSENSUS PROTOCOLS/CalculateSHA256Hash/.vs
